{% extends "account/base.html" %}
{% block title %}Password Reset Page{% endblock%}
{%block content%}
<div class="flex items-center justify-center px-4 py-8">
    <div class="w-full max-w-md p-8 space-y-6 bg-gray-800 rounded-lg shadow-md">
        <h2 class="text-2xl">Reset Our Password</h2>
        <form action="#"method="POST"class="space-y-6"id="reset-password-form">
            {%csrf_token%}
                  <div>
                <label for="email" class="block text-sm font-medium text-white">Email</label>
                <input type="email" name="email" id="email"
                    value="{{ form.email.value|default_if_none:'' }}"
                    class="block w-full mt-1 rounded-md bg-gray-700 p-3 text-white"
                    placeholder="Your email..." required>
                {% if form.email.errors %}
                    <div class="text-red-500 mt-1 text-sm">
                        {% for error in form.email.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <button type='submit'id='submit-btn'class="w-full px-4 py-2 text-white bg-rose-500 rounded-md hover:bg-rose-600 focus:outline-none">Send Password Reset Link</button>
        </form>
</div>
<script>
    //Get references to the form and the submit button
    const form=document.getElementById('reset-password-form');
    const submitBtn=document.getElementById('submit-btn');
    //Add event listener for form submission
    form.addEventListener('submit',function(event){
        //Disable the button when the form is submitted
        submitBtn.disabled=true;
        submitBtn.innerText='Sending...';//Optional :Change the button text to indicate action
        

    })
{%endblock%}
